@import 'overwrite_webkit.css';



.welcome{
    color: #FF002B;
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 700;
}
.container{
    border: 1px #ff002b solid;
    border-radius: 30px;
    padding: 20px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* transform: translate(0%, 169%); */
    align-content: center;
}