
.mainBatch{

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}



.batchProfilePicture{

    border-radius: 100%;
    background:#ff002b;
    width:135px;
    margin: 10px;
    height:135px;

}


.studentprofilePicture{

    border-radius: 100px;
    background:#ff002b;
    width:45px;
    transition: 0.2s all ;
    margin: 10px;
    height:45px;

}

.studentprofilePicture:hover{
    border-radius: 15px;



}

.studentprofilePicture:focus{
    border-radius: 15px;



}

.studentslist{
    border: 1px #ff002b solid;
    z-index: 100;
    border-radius: 100px;
    /* display: flex; */
    /* position: fixed; */
    margin:10px;
    width: 97%;
    justify-content: center;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
}

.flexpropic{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.sep{
    color: #ff002b;
    font-family: courier;
    font-size: 40px;
}





.leftMain{
    background: rgba(9, 12, 16, 0.66);
    border: 1px solid #FF002B;
    box-sizing: border-box;
    border-radius: 23px;
    width: 22%;
    margin: 10px;
    height: 610px;
    background-clip: padding-box;

    display: flex;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    /* margin-bottom: 1.5rem; */
    overflow: hidden;
    position: relative;
    text-align: left;
}
.buttonsmallre{
      /* width: 170px; */
    height: 46.3px;
    background: var(--WeMeet-pri);
    border: none;
    box-sizing: border-box;
    border-radius: 6.8565px;
    font-family: montserrat;
    font-weight: 800;
    padding: 4px;
    color:#0C1014;
    /* width: 73px; */
    text-align: center;
    z-index: 1;
    margin: 10px;
    height: 41px;
    border-radius: 10px;
}
.middleMain{
    background: rgba(9, 12, 16, 0.66);
    border: 1px solid #FF002B;
    box-sizing: border-box;
    border-radius: 23px;
    /* width: 393px; */
    height: 610px;
    width: 50%;
    margin: 10px;
    background-clip: padding-box;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    /* margin-bottom: 1.5rem; */
    overflow: hidden;
    position: relative;
    text-align: left;
    justify-content: flex-end;
    align-items: center;
}
.middleMain-Chat{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.rightMain{
    background: rgba(9, 12, 16, 0.66);
    border: 1px solid #FF002B;
    box-sizing: border-box;
    border-radius: 23px;
    width: 22%;
    margin: 10px;
    height: 610px;
    background-clip: padding-box;

    display: flex;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    /* margin-bottom: 1.5rem; */
    overflow: hidden;
    position: relative;
    text-align: left;
}

.msg-batch{
    text-align: left;
    font-family: montserrat;
    width: 90%;
    font-size: 17px;
    letter-spacing: -1px;
    padding-left: 20px;
}
.msg-batch::placeholder{
    text-align: left;
}

.mainMain{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}


@media screen and (max-width: 618px) {
    .batchProfilePicture{
        width: 105px;
        height: 105px;
    }
    .studentslist{
        height: 45px;
    }
    .studentprofilePicture{
        margin:0px;
        width:33px;
        height:33px;

        margin-left: 10px;
    }

}
.chatContainer{
    background: #ff002b;
    margin: 10px;
    text-align: right;
    /* width: 100%; */
    line-break: anywhere;
    font-family: 'Montserrat';
    padding: 14px;
    font-weight: 600;
    font-size: 15px;
    border-radius: 20px;
}
.chats{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-content: center;
    overflow: auto;
    /* white-space: nowrap; */
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}
.chatUser{
    text-align: right;
    font-size: 12px;
    color: #151515;
}
@media screen and (max-width: 1004px) {

    .mainMain{
        flex-direction: column;
    
        }
        .leftMain{
            width: 90%;    }
        .middleMain{
            width: 90%;    }
        .rightMain{
            width: 90%;    }
            ::-webkit-scrollbar {
    
                display: none;
            }


}