@import 'overwrite_webkit.css';


.register-admin-container{


    width: 694px;
    height: 777px;
    align-items: center;
    border-radius: 20px;
    /* padding-bottom: 31%; */
    /* mix-blend-mode: difference; */
    border: 1px #FF002B solid;
    /* max-width: 100%; */
    background-clip: padding-box;
    display: -webkit-box;
    display: -webkit-flex;
    background: rgba(7, 10, 14, 0.75);
    border: 0.82797px solid #D41341;
    box-sizing: border-box;
    backdrop-filter: blur(5px);
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    /* height: 18.375rem; */
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    overflow: hidden;
    position: relative;
    text-align: left;
    /* width: 445px;*/;
    text-align: left;
}

.main__admin{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}
.container-admin{
    height: 100%;
    /* flex: 149%; */
    align-items: center;
    justify-content: center;
    display: -webkit-box;
    /* margin-top: 10%; */
    /* margin-bottom: 10%; */
    /* position: sticky; */
    /* padding: 11%; */
    margin-top: 80px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: nowrap;
    padding-left: 1.5rem;
    /* padding-top: 2.5rem; */
    flex-direction: row;
}

@media screen and (max-width: 1190px) {
    .container-admin {
        flex-wrap: wrap;
  }
}

.input{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    flex-wrap: wrap;
    justify-content: center;
}
.input_input{
    margin: 24px;
    font-family: courier;
    font-size:25px;
    font-weight: 1000;
}

/* button{
    width: 170px;
    height: 47px;
    border: none;
    border-radius: 16px;
    background: #ff002b;
    font-family: montserrat;
    font-weight: 800;
} */




.propicadd{
    width: 200px;
    height: 200px;
    /* margin: 81px; */
    margin-top: -210px;
    justify-content: center;
    border-radius: 100px;
    border: 3px #FF0032 solid;
    align-items: center;
    display: inline-block;
    z-index: 99;
    /* width: 100%; */
    /* padding: 120px 0 0 0; */
    line-height: 511px;
    /* height: 100px; */
    overflow: hidden;
    /* opacity: 0; */
    /* background: #FF0032; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* background: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698394-icon-130-cloud-upload-512.png) center center no-repeat #e4e4e4; */
    /* border-radius: 20px;*/
}

.resetpropicbtn{
    width: 225px;
    display:none;
    /* margin: 90px; */
    height: 28px;
    background: #FF0211;
    border-radius: 15.82px;
}
.resetpropicbtn:hover {
    color: #FF0211;
    border:1px #FF0211 solid;
    background:#0C1014;
  }

.resetpropicbtn:focus {
    color: #FF0211;
    border:1px #FF0211 solid;
    background:#0C1014;
  }
.navbartwo{
    flex: 25%;
    max-width: 100%;
    background: #DDD;
    display: flex;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    background: rgba(7, 10, 14, 0.75);
    /* border: 0.82797px solid #D41341; */
    box-sizing: border-box;
    backdrop-filter: blur(5px);
    /* height: 11%; */
    /* background: #0C1014; */
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    padding-bottom: 4rem;
    /* border-radius: 20px; */
    margin-top: -19px;
    max-width: 121%;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
    padding-top: 5px;
    flex-wrap: nowrap;
}








/* @media screen and (max-width: 647px) {
    .container {
        display: flex;
        left: 10px;
        transform: translate(-7px, 0);
        flex-direction: column;
        height: 100%;
        width: 410px;  }
} */


.mandate{
    font-family: courier;
    font-size: 25px;
    font-weight: 1000;
    margin-top: 14px;
    color: #FF002B;
}