    <!-- {% for posts in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <small class="text-muted">1{{ posts.Post }}</small>
              <small class="text-muted">1{{ posts.Company }}</small>
            </div>
            <h1><a class="article-title" href="#">1{{ posts.Name }}</a></h1>
            <p class="article-content">1{{ posts.School }}</p>
          </div>
        </article>
    {% endfor %} -->