<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | WeMeet</title>
    {% load static %}
    <link href="{% static 'css/Home_custom.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/register_admin.css'%}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon/favicon.ico' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">  </head>
  <body>

<div class="bg1">
<img src="{% static 'IMAGE/LOGO/bgone.svg'%}">
</div>




  </body>
</html>