<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | WeMeet</title>
    {% load static %}
    <link href="{% static 'CSS/Home_custom.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'CSS/overwrite_webkit.css'%}" rel="stylesheet" type="text/css" />
   
    <link rel="shortcut icon"  href="{% static 'IMAGE/LOGO/LOGO.svg' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rancho&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@400;700&display=swap" rel="stylesheet">    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">     
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap" rel="stylesheet">  </head>
  <body style="margin: 0px; margin-top: 8px;">

    {% include "bgone.html" %}
    


   
<div class="container">
  <form action="{% url 'login' %}" method='POST'>
    {% csrf_token %}  
  
    {% if request.user.is_authenticated %}


    <div class="navbar" style="z-index:100">

      
      <a class='logoflex' href="/" style="z-index:100">
      <img src="{% static 'IMAGE/LOGO/LOGO.svg'%}" style='z-index:100;    width: 60px;'>
       
      <img src="{% static 'IMAGE/LOGO/WeMeet_text_inverted.svg'%}" style='z-index:100;    margin: 6px;'>
      </a>
    </div>
    <div class="rightprofile">
      
      <div class='hm' style="margin: 10px;z-index: 100;border-radius:30px;color:#FF002B">{{request.user }}</div>

      {% if request.user.groups.all.0.name  == "Student" %}
      <a style='z-index: 100;' href="u/student/{{request.user.username}}">

      

    <img style='border-radius:1000px;width: 50px;height: 50px;margin:20px;'src={{request.user.user_student.student_propic.url}}>
      </a>  
    {% elif request.user.groups.all.0.name  == "School" %}
    <a style='z-index: 100;' href="u/school/{{request.user.username}}">

    <img style='border-radius:1000px;width: 50px;height: 50px;margin:20px;'src={{request.user.user_school.school_propic.url}}>
    </a> 
    {% else %}

    <a style='z-index: 100;' href="/admin">

      <img style='border-radius:1000px;width: 50px;height: 50px;margin:20px;'src={{request.user.user_school.school_propic.url}}>
      </a> 

    {% endif %}
    </div>
  </div>
    {% else %}

    <div class="navbar" style="z-index:100">
    <input name="emailEmail" type="text" style="z-index: 1;"class="logIn_email" placeholder="USERNAME">

    <a class='logoflex' href="/" style="z-index:100">
      <img src="{% static 'IMAGE/LOGO/LOGO.svg'%}" style='z-index:100;    margin-top: 10px;    width: 60px;'>
      <img src="{% static 'IMAGE/LOGO/WeMeet_text_inverted.svg'%}" style='z-index:100'>
      </a>
    <input name='password' class="logIn_password"style="z-index: 1;" type="password"  placeholder="PASSWORD">

    </div>

    {% endif %}


  </div>
  <div class="main__home" style='display: flex;    align-items: center; flex-direction: column;'>
    {% for message in messages %}
    <error class='error_auth'>{{message}}</error>

      <div  onclick='forgetPassword()' style='cursor: pointer;font-family:courier;margin:4px;    font-size: 18px;font-weight: 1000;' class="buttonFlex">.FORGET PASSWORD?? .</div>

    {% endfor %}

  {% if request.user.is_authenticated %}

  <div style='margin:10px;' class="buttonFlex">.YOU ARE LOGED IN .</div>

{% else %}
<div id="btnlog" class="buttonFlex">
  <button style='width: 73px; z-index: 1; margin: 10px; border-radius: 12px;height: 46px;' class="submit btnadmin" onclick="btnadminbtn()" onmouseenter="btnadminbtnEnter()" onmouseleave="btnadminbtnout()" name='btnadmin'><img style="z-index:100;width: 24px;" src="/static/IMAGE/LOGO/admin.svg" ></button> 
  <button style='width: 73px; z-index: 1; margin: 10px; border-radius: 12px;height: 46px;' class="submit btnschool" onclick="btnschoolnbtn()" onmouseenter="btnschoolnbtnEnter()" onmouseleave="btnschoolnbtnout()" name='btnschool'><img style="z-index:100;    width: 24px;" src="/static/IMAGE/LOGO/school.svg" ></button> 
  <button style='width: 73px; z-index: 1; margin: 10px; border-radius: 12px;height: 46px;' class="submit btnstudent" onclick="btnstudentbtn()" onmouseenter="btnstudentbtnEnter()" onmouseleave="btnstudentbtnout()" name='btnstudent'><img style="z-index:100;width: 24px;" src="/static/IMAGE/LOGO/student.svg" ></button> 
  

</div>
{% endif %}

</form>
<div class="buttonName">
<div class='buttonNameAdmin'></div>
<div class='buttonNameSchool'></div>
<div class='buttonNameStudent'></div>
</div>

{% if data.auth == True %}
<div style='border-radius: 105px;    display: flex;flex-direction: row;flex-wrap: wrap;background:#ff002b;width:90%;align-items: center;
justify-content: center;' class="newsall">
<div  class="news">
  <!-- <div class='msgt {{data.response.slip.id}}' style="margin:20px;">{{data.response.slip.advice}} </div> -->
  <div class='msg {{data.response.slip.id}}' style="margin:20px;">{{data.response.slip.advice}} </div>
</div>
</div>
{% elif data.auth == False %}
<div class="main__">

  <div class="schoolInfo">
    <div class="heading_school">    <img style="z-index:100;margin-left: 50px;"src="/static/IMAGE/LOGO/School_title.svg" ></div>
    <div class="description_school">Register to make your school public! </div>
    <button  onclick="window.location.href='/register/school'; return false;" class="btn">REGISTER NOW<img style="z-index:100;    width: 24px;padding-top: 4px;" src="/static/IMAGE/LOGO/school.svg" ></button>
  </div>
  <div class="studentInfo">
    <div class="heading_school">    <img style="z-index:100"src="/static/IMAGE/LOGO/Student_title.svg" ></div>
    <div class="description_student">Register to Join your school!</div>
    <button  onclick="window.location.href='/register/student'; return false;" class="btn">REGISTER NOW <img style="z-index:100;    width: 24px;padding-top: 4px;" src="/static/IMAGE/LOGO/student.svg" ></button>
  </div>
  <div style="width:90%" class="forgetPassBg">
    <form style="width:100%" action="{% url 'mailacc' %}" method='POST'>
      {% csrf_token %}  
<div  id="mail" class='formmail'>
  <input style="width:90%"  name='mail' type="email" class="enterEmail" placeholder='EMAIl'></input>
  <button name="mailsubm" onclick='maill()' type="submit" style='    background: #0C1014; color: #ff002b;' class="submitEmail" >Submit</button>
</div>

  <div  id="code" class='formmail'> 
<input style="width:90%" name='code' type="text" class="enterEmail" placeholder='CODE'></input>
<button name='codesubm'type="submit" style='    background: #0C1014; color: #ff002b;' class="submitEmail" >Submit</button>
</div>


</form>
</div>




  </div>
{% endif %}


</div>

</div>



  <script src="{% static 'JS/Home.js'%}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script>

// newapikey -- 1210f38d3df848b5aabd5cece29b3afc 
// api -- https://newsapi.org/v2/top-headlines?country=us&category=entertainment&apiKey=1210f38d3df848b5aabd5cece29b3afc

// $.ajax({
// url: "https://newsapi.org/v2/top-headlines?country=us&category=entertainment&apiKey=1210f38d3df848b5aabd5cece29b3afc",
// type: "GET",
// dataType: 'json',
// // data: $('#msgSend').serialize(),
// // async: true,
// success: function(response){
    
//   console.log(response);

// }
// });
// var url = 'https://newsapi.org/v2/top-headlines?country=us&category=entertainment&' +
//           'apiKey=1210f38d3df848b5aabd5cece29b3afc';

// var req = new Request(url);

// fetch(req)
//     .then(function(response) {
//         console.log(response.json());
//     })
  </script>
  </body>
</html>