<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail Template</title>
</head>

<style>

.innerContainer{

position: absolute;
    width: 90%;
    height: 83%;
    transform: translate(0px, 70px);
    background: #0C1014;
    border-radius: 28.501px;

}

.container{
    display: flex;
    justify-content: center;
    align-content: center;
}

</style>

<body>

    
    <div class='container'>
    <div class='innerContainer'>
        </div>
    </div>


</body>
</html>