<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | WeMeet</title>
    {% load static %}
    <link href="{% static 'css/Home_custom.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/overwrite_webkit.css'%}" rel="stylesheet" type="text/css" />
   
    <link rel="shortcut icon"  href="{% static 'IMAGE/LOGO/LOGO.svg' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rancho&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@400;700&display=swap" rel="stylesheet">    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">     
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap" rel="stylesheet">  </head>
  <body style="margin: 0px; margin-top: 8px;">

    {% include "bgone.html" %}
    


   
<div class="container">
  <form action="{% url 'login' %}" method='POST'>
    {% csrf_token %}  
  
    {% if request.user.is_authenticated %}


    <div class="navbar" style="z-index:100">

      
      <a class='logoflex' href="/" style="z-index:100">
      <img src="{% static 'IMAGE/LOGO/LOGO.svg'%}" style='z-index:100;    width: 60px;'>
       
      <img src="{% static 'IMAGE/LOGO/WeMeet_text_inverted.svg'%}" style='z-index:100;    margin: 6px;'>
      </a>
    </div>
    <div class="rightprofile">
      
      <div class='hm' style="margin: 10px;z-index: 100;border-radius:30px;color:#FF002B">{{request.user }}</div>

      {% if request.user.groups.all.0.name  == "Student" %}
      <a style='z-index: 100;' href="u/student/{{request.user.username}}">

      

    <img style='border-radius:1000px;width: 50px;height: 50px;margin:20px;'src={{request.user.user_student.student_propic.url}}>
      </a>  
    {% elif request.user.groups.all.0.name  == "School" %}
    <a style='z-index: 100;' href="u/school/{{request.user.username}}">

    <img style='border-radius:1000px;width: 50px;height: 50px;margin:20px;'src={{request.user.user_school.school_propic.url}}>
    </a> 
    {% else %}

    <a style='z-index: 100;' href="/admin">

      <img style='border-radius:1000px;width: 50px;height: 50px;margin:20px;'src={{request.user.user_school.school_propic.url}}>
      </a> 

    {% endif %}
    </div>
  </div>
    {% else %}

    <div class="navbar" style="z-index:100">

    <a class='logoflex' href="/" style="z-index:100">
      <img src="{% static 'IMAGE/LOGO/LOGO.svg'%}" style='z-index:100;    margin-top: 10px;    width: 60px;'>
      <img src="{% static 'IMAGE/LOGO/WeMeet_text_inverted.svg'%}" style='z-index:100'>
      </a>

    </div>

    {% endif %}
  </form>
    <div style='height: 35rem;width: 100%;' class="passwordResetBg">
        <form style='width: 90%;'action="/passwordreset/{{data.code}}/{{data.user}}" method='POST'>
          {% csrf_token %}  
    <div style="width: 100%;" id="password" class='password'> 
      <input name='passwordReset' type="password" class="enterEmail" placeholder='PASSWORD'></input>
      <input name='conpasswordReset' type="password" class="enterEmail" placeholder='CONFIRM PASSWORD'></input>
      <button name='passs' type="submit" style='    background: #0C1014; color: #ff002b;' class="submitEmail" >Submit</button>
    </div>
    
    </form>
    </div>
  </div>






  </div>
</div>

</div>



  <script src="{% static 'JS/Home.js'%}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script>


  </script>
  </body>
</html>