<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Student | WeMeet</title>
    {% load static %}
    <link href="{% static 'css/Home_custom.css'%}" rel="stylesheet" type="text/css" />
   
    <link href="{% static 'css/overwrite_webkit.css'%}" rel="stylesstylesheet" type="text/css" />
    <link href="{% static 'css/register_admin.css'%}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon/favicon.ico' %}">

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap" rel="stylesheet">  </head>
  <body>


{% include "bgone.html" %}



   
<div class="container">
  <div class="navbartwo">
    <!-- <a href="/home">
      <img style="z-index:100"src="{% static 'IMAGE/LOGO/WeMeet_text.png'%}" >
      
    </a> -->

    <div class="div-img" style="z-index:100;padding-top: 18px;">
    <a href="/" style="width: 100%;z-index:100">
     
    <img src="{% static 'IMAGE/LOGO/WeMeet_text_inverted.svg'%}" style='z-index:100;'>
    </a>
  </div>
</div>



<form action="{% url 'registerStudent' %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}  
<div class="main__admin" >
  <div class="container-admin">

  <div class="register-admin-container">
    <div class="heading_school">    <img style="z-index:100;margin-left: 36px;"src="/static/IMAGE/LOGO/Student_title.svg" ></div>
    <div class="input">
      <!-- <input class="input_input" style='margin: 16px;' type="text" placeholder="SCHOOL NAME"></input>
      <input class="input_input" style='margin: 16px;' type="email" placeholder="EMAIL"></input>
      <input class="input_input" style='margin: 16px;' type="password" placeholder="PASSWORD"></input>
      <input class="input_input" style='margin: 16px;' type="password" placeholder="CONFIRM PASSWORD"></input> -->
      {% for field in form %}
      {{field}}
      {% endfor %}
      <input class="input_input" style='margin: 16px;' type="text" name='studentState' placeholder="STATE"></input>
      <input class="input_input" style='margin: 16px;' type="text" name='studentDistrict' placeholder="DISTRICT-PINCODE"></input>
      <input class="input_input" style='margin: 16px;' type="text" name='studentArea' placeholder="AREA"></input>
      {% for message in messages %}
      <error class='error_auth'>{{message|striptags}}</error>
      {% endfor %}

    </div>
  </div>
  <div class="regstudent">
    <div class="register-admin-container" style="width: 400px;height: 250px;">
      <!-- <div class="heading_school">    <img style="z-index:100"src="/static/IMAGE/LOGO/School.png" ></div> -->
      <div class="input" >
        <!-- <img></img> -->
        <div class="mandate">**MANDATORY**</div>
        <input class="input_input" style='margin: 16px;' type="text" name='studentSchoolCode' placeholder="SCHOOL CODE"></input>
        <input class="input_input" style='margin: 16px;' type="text" name='studentBatchCode' placeholder="BATCH CODE"></input>
  
      </div>
      <!-- <button class="">REGISTER</button> -->
    </div>
  <div class="register-admin-container" style="width: 400px;    height: 500px;">
    <!-- <div class="heading_school">    <img style="z-index:100"src="/static/IMAGE/LOGO/School.png" ></div> -->
    <div class="input" >
      <!-- <img></img> -->

      <input class="input_input_picture" style='border:none;' accept="image/*" name='studentProfilePicture'    type="file" placeholder="TEXT"></input>
      <img class="propicadd"  src="{% static 'IMAGE/LOGO/PropicStudent.svg'%}" >
      <button onclick='resetpropicbtnbtn()'class="resetpropicbtn">X</button>

      <input class="input_input" type="text" name='studentStandard'placeholder="STANDARD"></input>
      <textarea class="input_input" style="height: 62px; word-wrap: break-word;" name='studentDescription' type="text" placeholder="DESCRIPTION"></textarea>


    </div>
    <!-- <button class="">REGISTER</button> -->
  </div>

</div>
</div>
<div class="btn-align" style='display: flex; justify-content: center;'>
  <button style="z-index:100;margin:10px;" class="">REGISTER<img style="z-index:100;    width: 24px;padding-top: 4px;" src="/static/IMAGE/LOGO/school.svg" ></button>
  <input type="reset" onclick="resetbtm();"  value="X">
</div>
    </div>
  </form>
  </div>
</div>


  <script src="{% static 'JS/register.js'%}"></script>

  </body>
</html>