<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student | {{request.user}}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'IMAGE/LOGO/LOGO.svg' %}">


    <link href="{% static 'CSS/overwrite_webkit.css'%}" rel="stylesstylesheet" type="text/css" />
    <link href="{% static 'CSS/student.css'%}" rel="stylesstylesheet" type="text/css" />
    <link href="{% static 'CSS/school.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'CSS/Home_custom.css'%}" rel="stylesheet" type="text/css" />

</head>
<style>



</style>
<body style='margin:0px;' >
    {% include "bgone.html" %}

    <div class="container">
        <div class="navi">
            
            <button style='margin-top: 21px;;' onclick="window.location.href='/update/{{request.user.id}}/{{request.user.user_student.student_url}}'">UPDATE</button>

            <div class="div-img" style="z-index:100;padding-top: 18px;">
                <a class='logoflex' href="/" style="z-index:100">
                    <img src="{% static 'IMAGE/LOGO/LOGO.svg'%}" style='z-index:100;    width: 60px;'>
                 <img src="{% static 'IMAGE/LOGO/WeMeet_text_inverted.svg'%}" style='z-index:100;'>
            </a>
          </div>
          <button style='margin-top: 21px;;'onclick="window.location.href='/logout'">LOGOUT</button>
        </div>
        <div class="des">
            <div class='welcome t' style="color:#0C1014;background: #ff002b;width: 95%;border-radius:30px">.{{request.user.user_student.student_description}}.</div>
        </div>
        <div class="Mmain___">
        <!-- <img style='width: 200px;margin-bottom:20px;' src="{% static 'IMAGE/LOGO/School_title.svg'%}"> -->
     
    <div  class="main">
        <div class='text' >{{request.user.user_student.student_aka_name}}</div>
        <img style='border-radius:1000px;width: 150px;height: 150px;margin:20px;'src={{request.user.user_student.student_propic.url}}>
        <div class='welcome' style="font-size: 16px;border-radius:30px;    margin-top: -16px;color:#404040">@{{request.user}}</div>
        
        <div class='welcome' style="border-radius:30px;color:#FF002B">STD: {{request.user.user_student.student_std}}</div>
    </div>

    </div>
    <div class='welcome b'>.STUDENT.</div>

    <div class="batch_container">
    <div class="batchstud">
        <div class='welcome' style="font-size: 23px;border-radius:30px;color:#0C1014;"> {{request.user.user_student.school_reference_id_student.user.username}} </div>
       <button class='redirectTop' onclick='window.location.href="/school/{{request.user.user_student.school_reference_id_student.user.username}}"' >REDIRECT</button>

        <div class="batchstudent" >
       
        <div class='welcome' style=" margin-top:10px;   font-size: 23px;border-radius:30px;color:#ff002b;"> {{request.user.user_student.batch_reference_id_student.batch_year.year}} </div>
        
        <!-- <img class="batchProfilePicture" src= "{% static 'IMAGE/media/batchDefaults/2019.png' %}"> -->
        <img style='    border-radius: 1000px;width: 130px;height: 130px;margin: 20px;' class="batchProfilePicture" src='{{request.user.user_student.school_reference_id_student.school_propic.url}}'>

       <button onclick='window.location.href="/school/{{request.user.user_student.school_reference_id_student.user.username}}/batch/{{request.user.user_student.batch_reference_id_student.batch_url}}"' style='     height: 30px;   margin: 10px;'>REDIRECT</button>
        
        </div> 
        
    </div>
    <div class="Mbatch">
      <div class='postContainer'>



     </div> 
    </div> 


    </div> 
    <form id='post'  method="POST" enctype="multipart/form-data">
  
        {% csrf_token %}
  
<div id="dropContainer" class="postupload">
    <span style='pointer-events: none;display:flex;' class="postuploadtext">Drop file here or <button class='postuploadbtn' style='    color: transparent;height: 56px;margin: 0;margin-left: 10px;' onclick="return false;">click to upload</button></span>
    <input style='  display: none;    '  name='media' type="file" class="drop-zone__input">
    <img style='border-radius:20px' class='none' src='' id='uploadedfile'>
    <textarea name='desc' style='width: 410px;height: 490px;' id='uploadedfileDescrition'></textarea>
    <input value='->' class='uploadBtn' type="submit" style='display:none;    padding: 15px;        width: 55px;        font-weight: 1000;        border-radius: 100px;        font-size: 15px;        height: 56px;        -webkit-text-stroke: transparent;        font-family: Fira Code;'>
    <button class='btnExitDrop' onclick='document.querySelector(".postupload").style.display="none";return false;' type="submit" style='display:block;    padding: 15px;        width: 55px;        font-weight: 1000;        border-radius: 100px;        font-size: 18px;        height: 56px;        -webkit-text-stroke: transparent;        font-family:courier;'>X</button>

</div>
  
</form>

    </div>
    </div>

    <!-- <button onclick='post("{{request.user}}")' class='uploadBtn'style='display:none;    padding: 15px;        width: 55px;        font-weight: 1000;        border-radius: 100px;        font-size: 15px;        height: 56px;        -webkit-text-stroke: transparent;        font-family: Fira Code;'>-></button> -->
  


    <script src="{% static 'JS/student.js'%}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script>
function myFunction(x) {
  if (x.matches) { 
    document.querySelector('.postuploadtext').innerHTML=""
    $('.postuploadtext').append(

      "<button class='postuploadbtn' style='    color: transparent;height: 56px;margin: 0;margin-left: 10px;' onclick='return false;'>click to upload</button>"
    )
  } else {
    document.querySelector('.postuploadtext').innerHTML=""

    $('.postuploadtext').append(

      "Drop file here or <button class='postuploadbtn' style='    color: transparent;height: 56px;margin: 0;margin-left: 10px;' onclick='return false;'>click to upload</button>"
    )  }
}
var x = window.matchMedia("(max-width: 610px)")
myFunction(x) // Call listener function at run time
x.addListener(myFunction)

var diplaypostlive = setInterval(displayPost,1000)
// displayPost()
function displayPost(){


    $.ajax({
    url: "/ajax/displaypostStd",
    type: "GET",
    dataType: 'json',
    processData: false,
    contentType: false,
    success: function(response){
      // console.log(response)


      if( response.bool == true){
        document.querySelector(".postContainer").innerHTML = '';

        $('.postContainer').append(
        '<div class="btnBox">'+
          "<button onclick='document.querySelector("+'"'+".postupload"+'"'+").style.display ="+'"'+"flex"+'"'+"' style='padding: 15px;    width: 35px;height: 35px;border-radius: 100px;font-size: 20px;font-family: courier;'>+</button>"    
          +"</div>"
        )


        for (const data of response.post){

          $('.postContainer').append(

            "<a href='/post/"+data.postid+"'>"+
              "<div  class='post'>"+
                "<div class='ActualPost' style='background:url("+data.postMedia+");background-repeat: no-repeat;    background-size: 200px 290px;'  >"

                  


                +"</div>"
              +"</div>"
            +"</a>"
            

          )



        }







      }else{
        if(document.querySelector("postContainer") !== null){
          document.querySelector(".Mbatch").innerHTML = '';

          document.querySelector(".postContainer").remove();
          $('.Mbatch').append(

            "<div class='postContainerno'>"+
              "<div class='text'>Everyone Is Going To Love Your POST....!</div>"+

              "<button onclick='document.querySelector("+'"'+".postupload"+'"'+").style.display ="+'"'+"flex"+'"'+"' style='padding: 15px;    width: 35px;height: 35px;border-radius: 100px;font-size: 20px;font-family: courier;'>+</button>"
              
              +"</div>"
            +"</div>"


          )
        
        
        }else{
          document.querySelector(".Mbatch").innerHTML = '';

      $('.Mbatch').append(

        "<div class='postContainerno'>"+
          "<div class='text'>Everyone Is Going To Love Your POST....!</div>"+

          "<button onclick='document.querySelector("+'"'+".postupload"+'"'+").style.display ="+'"'+"flex"+'"'+"' style='padding: 15px;    width: 35px;height: 35px;border-radius: 100px;font-size: 20px;font-family: courier;'>+</button>"
          
          +"</div>"
        +"</div>"


      )
        }
      }
    }
    });
}






    document.querySelectorAll(".drop-zone__input").forEach((inputElement) => {
        const dropZoneElement = inputElement.closest(".postupload");
        const dropZoneBtn = document.querySelector(".postuploadbtn");
      
        // dropZoneElement.addEventListener("click", (e) => {
        //   inputElement.click();
        // });
      
        dropZoneBtn.addEventListener("click", (e) => {
          inputElement.click();
        });

        inputElement.addEventListener("change", (e) => {
          if (inputElement.files.length) {
            // console.log('hlo')
            // inputElement.files = e.dataTransfer.files;
            updateThumbnail(inputElement.files);
          }
        });
      
        dropZoneElement.addEventListener("dragover", (e) => {
          e.preventDefault();
          
          document.getElementById('dropContainer').className="postuploadHover";

          document.querySelector('.postuploadbtn').style['pointer-events'] = 'none';
          document.querySelector('.btnExitDrop').style['pointer-events'] = 'none';
        });
      
        ["dragleave", "dragend"].forEach((type) => {
          dropZoneElement.addEventListener(type, (e) => {

            document.getElementById('dropContainer').className="postupload";
            document.querySelector('.postuploadbtn').style['pointer-events'] = 'auto';
            document.querySelector('.btnExitDrop').style['pointer-events'] = 'auto';
          });
        });
      
        dropZoneElement.addEventListener("drop", (e) => {
          e.preventDefault();
      
          if (e.dataTransfer.files.length) {
            inputElement.files = e.dataTransfer.files;
            updateThumbnail(e.dataTransfer.files);
          }
      
          document.getElementById('dropContainer').className="postupload";
        });
      });
      
      /**
       * Updates the thumbnail on a drop zone element.
       *
       * @param {HTMLElement} dropZoneElement
       * @param {File} file
       */
      function updateThumbnail(files) {
        for (var i = 0; i < files.length; i++) {

        reader = new FileReader();
        reader.onload = function(event) {
        document.querySelector('.postuploadtext').innerHTML = '';
        document.querySelector('.uploadBtn').style.display = 'block';
        document.querySelector('.btnExitDrop').style.display = 'block';
        document.querySelector('#uploadedfile').style.width='410px';
        document.querySelector('#uploadedfile').style.height='490px';
        document.getElementById('uploadedfile').src = event.target.result;
        document.getElementById('dropContainer').disabled = true;
        document.querySelector('.none').className='uploadImageDisplay';
        document.querySelector('#uploadedfileDescrition').style.display = 'block';
        
}
reader.readAsDataURL(files[i]);

}
      };



$("form#post").submit(function(e) {
e.preventDefault();    
var formData = new FormData(this);
 
$.ajax({
url: "/add/post/{{request.user}}",
type: "POST",
dataType: 'json',
data:formData, 


processData: false,
contentType: false,
success: function(response){
  console.log(response)
document.querySelector('.postupload').style.display = 'none';
}
});
});

function myFunction(x) {
  if (x.matches) { 
    document.querySelector('.postuploadtext').innerHTML=""
    $('.postuploadtext').append(

      "<button class='postuploadbtn' style='    color: transparent;height: 56px;margin: 0;margin-left: 10px;' onclick='return false;'>click to upload</button>"
    )
  } else {
    document.querySelector('.postuploadtext').innerHTML=""

    $('.postuploadtext').append(

      "Drop file here or <button class='postuploadbtn' style='    color: transparent;height: 56px;margin: 0;margin-left: 10px;' onclick='return false;'>click to upload</button>"
    )  }
}
var x = window.matchMedia("(max-width: 610px)")
myFunction(x) // Call listener function at run time
x.addListener(myFunction)

    </script>
</body>
</html>